        body{
            background-color: rgb(41, 78, 243);
        }
        
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background-color: #41404077;
        }

        .center-group {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        .search-container input[type="text"] {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px 0 0 4px;
            outline: none;
        }
        .search-container button {
            padding: 8px 12px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-left: none;
            border-radius: 0 4px 4px 0;
            background-color: #e0e0e0;
            cursor: pointer;
        }
        .login-btn {
            padding: 8px 50px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            background-color: #1976d2;
            color: rgb(4, 40, 248);
            cursor: pointer;

        }


        .card{
             border: solid 3px #efff0e;
            width: 400px;
            margin-left: 610px;
            margin-top: 30px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .ola{
            background-color: greenyellow;
            width: 180px;
            border: 2px solid black;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer button{
            margin-top: 10px;
            display: flex;
            align-self: flex-start;
        }
